body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
h1{
    text-align: center;
    color: cornsilk;
    text-shadow: 5px 5px 7px #333;
    font-family: 'Times New Roman', Times, serif;
}
#idone{
    color: blanchedalmond;
    margin: 30px;
}

#idtwo{
    color: blanchedalmond;
    margin: 30px;
}

#h1one{
    color: cornsilk;
    font-size: 30px;
    text-shadow: 5px 5px 7px #333;
    font-family: 'Times New Roman', Times, serif;
}

#h1two{
    color: cornsilk;
    font-size: 30px;
    text-shadow: 5px 5px 7px #333;
    font-family: 'Times New Roman', Times, serif;
}
ul{
    height: 400px;
    width: 400px;
    background-color: rgb(58, 45, 95);
    margin: auto;
    border:3px solid cornsilk;
    border-radius: 5%;
}
.button-back{
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #333;
}
.button-back:hover{
    background-color: rgb(70, 2, 197);
    transition: 1s; 
}
button:hover{
    background-color: green;
    transition: 1s;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
button:hover span {
    padding-right: 25px;
    color: white;
}
button:hover span:after {
    opacity: 1;
    right: 0;
}

button{
    width: 180px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 0;
    background-color:rgb(218, 205, 255);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    margin: 15px 4px 15px 80px;
}
